<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pdx.cs410j.deep.phonebill">

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:icon="@mipmap/ic_launcher"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@mipmap/ic_launcher_round"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/AppTheme">-->
<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:label="@string/app_name"-->

<!--            android:theme="@style/AppTheme.NoActionBar">-->



<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--&lt;!&ndash;        <activity android:name=".ReadMeActivity"/>&ndash;&gt;-->

<!--        <activity-->
<!--            android:name=".ReadMeActivity"-->

<!--            android:parentActivityName=".MainActivity">-->
<!--            &lt;!&ndash; The meta-data tag is required if you support API level 15 and lower &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".MainActivity" />-->
<!--            -->
<!--        </activity>-->
<!--&lt;!&ndash;        <activity android:name=".AddPhoneCallActivity" />&ndash;&gt;-->

<!--&lt;!&ndash;        <activity&ndash;&gt;-->
<!--&lt;!&ndash;            android:name=".AddPhoneCallActivity"&ndash;&gt;-->
<!--&lt;!&ndash;            android:parentActivityName=".MainActivity">&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash; The meta-data tag is required if you support API level 15 and lower &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <meta-data&ndash;&gt;-->
<!--&lt;!&ndash;                android:name="android.support.PARENT_ACTIVITY"&ndash;&gt;-->
<!--&lt;!&ndash;                android:value=".MainActivity" />&ndash;&gt;-->
<!--&lt;!&ndash;        </activity>&ndash;&gt;-->




<!--    </application>-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ReadMeActivity"
            android:parentActivityName=".MainActivity">
<!--            &lt;!&ndash; The meta-data tag is required if you support API level 15 and lower &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".MainActivity" />-->
        </activity>


        <activity
            android:name=".PhoneCallListActivity"
            android:parentActivityName=".MainActivity">
<!--            &lt;!&ndash; The meta-data tag is required if you support API level 15 and lower &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".MainActivity" />-->
        </activity>


        <activity
            android:name=".SearchPhoneCallActivity"
            android:parentActivityName=".MainActivity">

<!--            &lt;!&ndash; The meta-data tag is required if you support API level 15 and lower &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".MainActivity" />-->
        </activity>


        <activity
            android:name=".SearchCustomerPhoneCallsActivity"
            android:parentActivityName=".MainActivity">

<!--            &lt;!&ndash; The meta-data tag is required if you support API level 15 and lower &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".MainActivity" />-->
        </activity>

        <activity
            android:name=".PrittyPrintActivity"
            android:parentActivityName=".MainActivity">

<!--            &lt;!&ndash; The meta-data tag is required if you support API level 15 and lower &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".MainActivity" />-->
        </activity>

        <activity
            android:name=".AddPhoneCallActivity"
            android:parentActivityName=".MainActivity">

<!--            &lt;!&ndash; The meta-data tag is required if you support API level 15 and lower &ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".MainActivity" />-->
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>